html {
  font-family: 'Lato', sans-serif;

}

body {
margin: 0;
}

#jeu {
  display: flex;
  width: auto;
  height: 100vh;
}

#J1 {
  background-color: rgb(255, 255, 255) ;
}

#J2 {  
  background-color: rgba(230, 227, 227, 0.623);
}

#J1, #J2 {  
  position: relative;
  flex: 2;
}

#score {
  position: absolute;
  top: 20%;
  left: 180px;
  height: 300px;
  width: 300px;
  border: solid black 1px;
}

#essai {
  position: absolute;
  top: 70%;
  left: 255px;
  height: 150px;
  width: 150px;
  background-color: rgba(165, 42, 42, 0.815);
}


#Dé {
  position: relative;
  background-color: rgba(243, 243, 243, 0.767);
  flex: 1;
}

h1, h2 {
  text-align: center;
}

.btn {
  height: auto;
  position: absolute;
  font-size: 18px;
}

#new {
  top: 10%;
  width: auto;
  left: 65px;
  border: none;
}

#roll {
  top: 75%;
  width: auto;
  left: 100px;
  border: none;
}

#hold {
  top: 85%;
  width: auto;
  left: 100px;
  border: none;
}

i {
  font-size: 30px;
  color: red;
}

#new:hover, #roll:hover, #hold:hover {
  background-color: rgb(201, 211, 221);
  color: black;
  border: black solid 1px;
}
