html {
  font-family: 'Lato', sans-serif;

}

body {
margin: 0;
}

#jeu {
  display: flex;
  width: auto;
  height: 100vh;
}

#J1 {
  background-color: rgb(255, 255, 255) ;
}

#J2 {  
  background-color: rgba(230, 227, 227, 0.623);
}

#J1, #J2 {  
  position: relative;
  flex: 2;
}

#score {
  position: absolute;
  top: 20%;
  left: 180px;
  height: 300px;
  width: 300px;
  border: solid black 1px;
}

#essai {
  position: absolute;
  top: 70%;
  left: 255px;
  height: 150px;
  width: 150px;
  background-color: brown;
}


#Dé {
  position: relative;
  background-color: rgba(243, 243, 243, 0.767);
  flex: 1;
}

h1, h2 {
  text-align: center;
}

#new, #roll, #hold{
  height: 25px;
  width: 175px;
  position: absolute;
  left: 75px;
  padding: 20px;
  border:none;
}

#new {
  top: 10%;
  
}

#roll {
  top: 75%;
  
}

#hold {
  top: 85%;
}
